<h1>Skills for <%= @account.character_name %></h1>

<%= render :partial=>'menu' %>

<div class="itemdata">
<table>
<tr>
	<th>Name</th>
	<th>Level</th>
</tr>

<% @account.skills.sort.each do |skill| %>
<% next unless InvTypes.find(:first, :conditions=>{:typeID=>skill.skillTypeID}) %>
<tr>
	<td style="text-align:left"><%= link_to InvTypes.find(:first, :conditions=>{:typeID=>skill.skillTypeID}).typeName, :controller=>'items', :action=>'show', :id=>skill.skillTypeID %></td>
	<td><%= skill.skill_level %></td>
</tr>
<% end %>

</table>
